<!--首页导航栏-->
<div class="nav-wrap">
    <div class="title">
        <a href="#"><img class="logo" src="__PUBLIC__/Common/Img/logo-info.png"/></a>
        <strong>精品课程 信息论与编码</strong>
        <span>Information Theory and Encoding</span>
    </div>
    <ul id="nav">
        <li><a href="#" id="current">首页</a></li>
        <li><a href="#">教学录像</a></li>
        <li><a href="#">自测训练</a></li>
        <li><a href="#">交流讨论</a></li>
        <li><a href="#">课程介绍</a></li>
        <li><a href="#">资源下载</a></li>
        <li><a href="#">评价反馈</a></li>
        <!--<b class="clear"></b>-->
    </ul>
</div>